/* TRIVIALS */ 

body {
	background-color: #EEE;
}





/* SEMANTICS */

main {
	margin: 3rem 10px;
	box-shadow: none;
}

@media screen and (min-width: 768px) {
	main {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (min-width: 992px) {
	main {
		margin-left: 8%;
		margin-right: 8%;
	}
}

@media screen and (min-width: 1200px) {
	main {
		margin-left: 12%;
		margin-right: 12%;
	}
}
